## Visual Studio & .NET Ignore
bin/
obj/
publish/
*.user
*.suo
*.userosscache
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
*.zip
*.log
app_session_*.txt
settings.json
Publish-To-GitHub.ps1
scratch/
*.local
